html {
  box-sizing: border-box;
  margin: 0;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h2 {
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding-bottom: 1.5em;
  padding-top: 0;
}

p {
  color: #333;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 0 0 1em;
  text-align: left;
}

.btn {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: #666;
  border-radius: .5em;
  border: medium solid #333;
  padding: .4em .75em .5em;
  text-align: center;
}

section {
  padding: 2em 0;
  text-align: center;
}

div {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  padding: 1em;
  vertical-align: middle;
}
