html {
  box-sizing: border-box;
  margin: 0;
  background-color: #eee9de;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 25em;
  margin: 1.5em;
}

img {
  width: 100%;
}

h2 {
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 2em 0em;
}

p {
  color: #333;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 1em 0;
  text-align: left;
}

.btn {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  padding: .5em;
  color: #666;
  border-radius: .5em;
  border: medium solid #333;
  padding: .4em .75em .5em;
}
